* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.background {
    background-color: grey;
    height: 100%;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 5%;
}



.Jungle{
    margin-top: 10px;
    background-color: rgb(204, 255, 255);
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    height: 70vh;
    width: 70vw;
    z-index: 1;
    }


#monkey{
    position: absolute;
    top: 800px;
    left: 700px;
    height: 100px;
    width: 100px;
    z-index: 2;
}
.animate{
    animation: side_move 1s linear;
}
@keyframes side_move{
    0%{left: 300px;}
    100%{top: 310px;}
}



#banana{
    position: absolute;
    top: 300px;
    left: 800px;
    height: 70px;
    width: 70px;
    z-index: 2;
}
.animate{
    animation: fall_banana 1s linear;
}
@keyframes fall_banana{
    0%{top: 300px;}
    30%{top: 500px;}
    70%{top: 700px;}
    100%{top: 1000px;}
}


#trash{
    position: absolute;
    top: 300px;
    left: 400px;
    height: 70px;
    width: 70px;
    z-index: 2;
}
.animate{
    animation: fall_trash 1s linear;
}
@keyframes fall_trash{
    0%{top: 300px;}
    30%{top: 500px;}
    70%{top: 700px;}
    100%{top: 1000px;}
}