* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

.background {
    background-color: grey;
    height: 100%;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 1%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 3%;
}



.Jungle{
    margin-top: 5px;
    background-color: rgb(204, 255, 255);
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    height: 70vh;
    width: 70vw;
    z-index: 1;
    }


.Monkey{
    position: absolute;
    top: 800px;
    left: 700px;
    height: 100px;
    width: 100px;
    z-index: 2;
}

.Banana{
    position: absolute;
    top: 300px;
    height: 70px;
    width: 70px;
    z-index: 2;
}

.Trash{
    position: absolute;
    top: 300px;
    height: 70px;
    width: 70px;
    z-index: 2;
}